@import "tailwindcss";
@plugin "daisyui";
@font-face {
  font-family: 'cardFont1';
  src: url('./assets//fonts/News706BT-BoldC.otf');
}
@font-face {
  font-family: 'cardFont2';
  src: url('./assets//fonts/swiss-721-bt-black-condensed.ttf');
}
@font-face {
  font-family: 'News 706 BT';
  src: url('./assets/fonts/News 706 BT');
}

body{
  background-color: var(--color-background);
}
/* styles/theme.css */
:root {
  /* Light theme defaults */
  --color-background: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 0%);
  --color-sidebar: #ffffff;
}

[data-theme="dark"] {
  /* Dark theme overrides */
  --color-background: #1D2427;
  --color-text: hsl(0, 0%, 100%);
  --color-sidebar: #2b353a;
}

/* theme.pcss */
@theme {
  --font-cardFont1: cardFont1,'News706BT-BoldC';
  --font-cardFont2: cardFont2,'swiss-721-bt-black-condensed';
  --font-News706BT: News706BT,'News 706 BT';

  --color-background: var(--color-background);
  --color-sidebar: var(--color-sidebar);
  --color-text: var(--color-text);
}

.multi-border::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 1px solid #1e0030;
  border-radius: 14px;
  pointer-events: none;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1.3px #fafd00;
  }
}

