@import "tailwindcss";
@plugin "daisyui";
body{
  background-color: var(--color-background);
}
/* styles/theme.css */
:root {
  /* Light theme defaults */
  --color-background: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 0%);
}

[data-theme="dark"] {
  /* Dark theme overrides */
  --color-background: #1D2427;
  --color-text: hsl(0, 0%, 100%);
}

/* theme.pcss */
@theme {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
}

.multi-border::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 1px solid #1e0030;
  border-radius: 14px;
  pointer-events: none;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 0.8px rgb(152, 0, 253);
  }
}